<div>
    <div>
      <div *ngFor="let t of taskLists" (click) = "getTasks(t)">{{t.id}} : {{t.name}}</div>
    </div>
    <h3>Tasks</h3>
    <div>
        <div *ngFor = "let t of tasks">
          <div><span> ID:</span> {{t.id}}</div>
          <div><span> Name: </span> {{t.name}}</div>
          <div><span> Status: </span> {{t.status}}</div>
          <div><span>Created_at:</span>{{t.created_at}}</div>
          <div><span>Due_on:</span>{{t.due_on}}</div>
          -------------------------------------------
        </div>
    </div>